<style>
    .textSpace{
        padding-top: 2rem;
    }
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="form-gap"></div>
<div class="d-flex justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Esqueceu sua senha?</h2>
                            <p>Você pode resetar ela aqui!.</p>
                            <div class="panel-body">
                                <form role="form" autocomplete="on" class="form" method="post" ng-submit="recuperarSenha()">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input id="email" name="email" placeholder="email address" class="form-control" ng-model="model.email" type="email" required>
                                        <span ng-show="form.$submitted && form.email.$error.required" class="form-control alert-danger">
                                            Email obrigatório
                                        </span>
                                        <span ng-show="form.$submitted && form.email.$error.email" class="form-control alert-danger">
                                            Email inválido
                                        </span>
                                    </div>
                                    <button [disabled]="!form.valid" class="btn btn-lg btn-primary btn-block" type="submit">Recuperar Senha</button>
                                </form>
                                <div ng-show="erro">
                                    <div class="textSpace alert alert-danger" role="alert">
                                        Algo deu errado!
                                    </div>
                                </div>
                                <div ng-show="carregando">
                                    <div class="textSpace row justify-content-center">
                                        <p>Carregando...</p>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="loader"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>