<div class="container">
    <div class="text-center">
        <br>
        <h3 span translate="HEADER.DESCRICAOTREINO.TITULO">MyHeroTraining - Treinos Funcionais </h3></br>
    </div>
    <span>
 <section class="page-section" id="exercicios">
        <div class="container" id="container-sobreNos">
            <div class="row">
                <div class="col-lg-12 text-center">
                   <h3 class="section-subheading text-muted" translate="HEADER.DESCRICAOTREINO.DESCRICAO">Conheça os exercícios que compõem os treinos:</h3>
                </div>

   <br>
    <span>
            <div id="abdominal">
                <h3 translate="HEADER.DESCRICAOTREINO.ABDOMINAL">Abdominal</h3>
                <p translate="HEADER.DESCRICAOTREINO.ABDOMINALTEXT">O exerício ajuda no desenvolvimento e fortalecimento da musculatura do abdome podendo ser realizado por inciantes.
                   <b> Os músculos trabalhados são reto abdominal e oblícuos. </b> Pode ser executado deitado, flexionando as pernas e
                   deixando-as alinhadas ao quadril, após se posicionar, basta erguer o tronco com a força dos músculos do abdômen,
                   nunca chegando tão próximo de encostar os peitos aos joelhos.
                 </p>
            </div>
         </span>
    </br>

    <br>
    <span>
            <div id="abdominalRemador">
                <h3 translate="HEADER.DESCRICAOTREINO.ABDOMINALREMADOR">Abdominal Remador</h3>
                <p translate="HEADER.DESCRICAOTREINO.ABDOMINALREMADORTEXT">O exerício ajuda no desenvolvimento e fortalecimento da musculatura do abdome podendo ser realizado por inciantes.
                   <b> Os músculos trabalhados são reto abdominal e oblícuos.
                   </b>
                   Para realizar o exercício, basta se esticar no solo, com braços e pernas erguidos. Após se posicionar,
                   basta flexionar as pernas ao mesmo tempo que contrai o abdômen em direção aos joelhos.

                </p>
            </div>
         </span>
    </br>

    <br>
    <span>
        <div id="agachaEleva">
                <h3 translate="HEADER.DESCRICAOTREINO.AGACHAMENTOCOMELEVACAO">Agachamento com elevação</h3>
                <p translate="HEADER.DESCRICAOTREINO.AGACHAMENTOCOMELEVACAOTEXTO">O exerício ajuda no desenvolvimento e fortalecimento das pernas e glúteos podendo ser realizado por inciantes.
                <b> Os músculos trabalhados são quadríceps femural, glúteo médio, glúteo máximo, bíceps femural (posterior da coxa), abdominal e lombar. </b>
                Com as pernas abertas, afastar os pés à largura dos ombros e apoiá-los totalmente no chão,
				dobrar os joelhos jogando o quadril para baixo, até ultrapassar ligeiramente a linha do joelho e, empurrar o bumbum para trás
				mantendo as costas eretas.
				Quando subir do agachamento, levantar uma das pernas com joelho dobrado até um pouco acima do quadril,
				alternando entre as pernas a cada vez que fizer o exercício.
                </p>
        </div>
         </span>
    </br>

    <br>
    <span>
            <div id="agachaRota">
                <h3 translate="HEADER.DESCRICAOTREINO.AGACHAMENTOCOMRT">Agachamento com Rotação de tronco</h3>
                <p translate="HEADER.DESCRICAOTREINO.AGACHAMENTOCOMRTTEXTO">O exerício ajuda no desenvolvimento e fortalecimento das pernas e glúteos podendo ser realizado por inciantes.
                <b> quadríceps femural, glúteo médio, glúteo máximo, bíceps femural (posterior da coxa), abdominal e lombar. </b>
                Com as pernas abertas, afastar os pés à largura dos ombros e apoiá-los totalmente no chão,
				dobrar os joelhos jogando o quadril para baixo, até ultrapassar ligeiramente a linha do joelho e, empurrar o bumbum para trás
				mantendo as costas eretas.
				Quando subir do agachamento, mudar a posição de uma das pernas colocando-a para frente e rotacionar o tronco em direção a perna,
				alternando entre as pernas a cada vez que fizer o exercício.

                </p>
            </div>
         </span>
    </br>

    <br>
    <span>
            <div id="infraEleva">
                <h3 translate="HEADER.DESCRICAOTREINO.INFRACOMELEVACAO">Infra com elevação</h3>
                <p translate="HEADER.DESCRICAOTREINO.INFRACOMELEVACAOTEXTO">O exerício ajuda no desenvolvimento e fortalecimento da musculatura do abdome podendo ser realizado por inciantes.
                <b> Os músculos trabalhados são reto abdominal, piramidais, oblíquos, transversoss. </b>
                 Com a coluna apoiada no solo, as mãos precisam estar retas e bem posicionadas.
                 Após se ajustar, basta erguer as pernas lentamente, mantendo elas o mais retas possível.
                </p>
           </div>
         </span>
    </br>

    <br>
    <span>
            <div id="pracnha">
                <h3 translate="HEADER.DESCRICAOTREINO.PRANCHA">Prancha</h3>
                <p translate="HEADER.DESCRICAOTREINO.PRANCHATEXT">O exerício ajuda no desenvolvimento e fortalecimento da musculatura do abdome podendo ser realizado por inciantes.
                <b> Os músculos trabalhados são reto abdominal, transversos. </b>
                De bruços, apoie-se nos cotovelos e apoe-se nos antebraços ou mantenha os braços esticados, sempre mantendo-os alinhados com os ombros.
                Com somente as pontas dos pés apoiadas ao chão na parte inferior do corpo, alinhe-os com os cotovelos. Deixe o corpo ereto e contraia o abdômen.
                </p>
            </div>
         </span>
    </br>

    <!--
     <span>
     <div id="abodiminalRemador" class="fadein">
         <div id="met-cont">
             <h3>O exerício ajuda no desenvolvimento e fortalecimento da musculatura do abdome podendo ser realizado por inciantes.</h3>
             <p>Os músculos trabalhados são reto abdominal e oblícuos.</p>
      </span>
     -->
</div>
        </div>
 </section>
</div>