<style>
    #teste {
        margin: auto;
        margin-top: 24px;
        margin-bottom: 24px;

    }

    #topo {
        margin-top: 22px;
        justify-content: center;
    }
    #teste{
        width: 100%;
        height: 100%;
        border-radius: 4%;
    }
</style>

<div class="container">
    <div class="card-deck" id="teste" >
        <div class="card"  ng-repeat="treino in treinos" >
            <img src="{{treino.url}}" class="card-img-top" alt="" height="300" width="180">
            <div class="card-body" >
                <h2 class="card-text">{{treino.descricao}}</h2>
                <p class="card-text">{{treino.nome}}</p>
                <p class="card-text" ><span translate="HEADER.HOME.INTENSIDADE">Intensidade:</span> {{treino.intensidade}}</p>
                <p class="card-text"> <span translate="HEADER.HOME.NIVEL">Nível:</span>{{treino.nivel}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-success" ng-model="inicio" type="button"
                           href="#/treinos/{{treino.id}}" translate="HEADER.HOME.INICIAR">Iniciar</a>
                        
                         
                    </div>
                    <small class="text-muted" id="" ><span translate="HEADER.HOME.TEMPOESTIMADO">Tempo estimado:</span> {{treino.horas}}</small>
                     <small class="text-muted" id="id_tempo_feito" style="display: none;" >Tempo feito: {{treino.tempo}}
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </small>
                </div>
            </div>
        </div>
        </div-->
    </div>
</div>
</div>


