
<style>
    #login-form{
        margin-left: 35%;
        margin-top: 60px;
    }
</style>
<div class="container">
    <body>
    <div class="text-center">
        <h2>Login </h2 >
    </div>
    <form class="form-signin"id="login-form" >
        <div class="col-md-6">
            <label for="inputEmail" class="sr-only" >Email </label>
            <input type="email" id="inputEmail" class="form-control" ng-model="model.email" placeholder="Email " required autofocus>
            <label for="inputPassword" class="sr-only" >Senha</label>
            <input translate
            translate-attr-placeholder="HEADER.CADASTRO.SENHA" type="password" id="inputPassword" ng-model="model.senha "class="form-control" placeholder="Senha" required>
            <div class="checkbox mb-3">
            </div>
            
            <button class="btn btn-lg btn-dark btn-block" type="submit" ng-click="logar()" translate="HEADER.LOGIN.PLACEHOLDER.BOTAOL">Entrar</button>
            <a href="#/forgot-password" class="" translate="HEADER.LOGIN.PLACEHOLDER.ESQUECIS"  >Esqueci minha senha</a>
       
        </div>
    </form>
    </body>
</div>
</html>