<style>
    #imgTreino {
        margin-left: 0%;
        width: 100%;
        position:relative;
    }
</style>


<div class="container-fluid">

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" >
                <img id="imgTreino"src="./imagem/22.jpeg" class="d-block w-100" alt="..." height="500px" width="500px" >
                <div class="carousel-caption d-none d-md-block">
                    <h2 translate="HEADER.PRINCIPAL.FUNCTIONALT" >Treinos funcionais</h2>
                    <p translate="HEADER.PRINCIPAL.SUBFUNCTIONALT" >Faça os treinos de acordo com sua rotina e melhore sua saúde!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div>
                <br>
                <h4 class="name" translate="HEADER.PRINCIPAL.ROUTINE">Crie uma rotina para praticar exercícios:</h4>
                <p class="text-muted" translate="HEADER.PRINCIPAL.ROUTINET">Praticar exercícios físiscos regularmente pode ajudar em diversos aspectos da sua saúde,
                     reduz risco de hipertensão, doenças cardíacas, AVC, diabetes, câncer, depressão, reduz ansiedade,
                    estresse e melhora disposição.</p>
                </br>
            </div>
        </div>
        <b>
            <section class="page-section" id="sobreMyHeroTrainning">
                <div class="container" id="container-sobreNos">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <br>
                            <h2 class="section-heading text-uppercase" translate="HEADER.PRINCIPAL.ABOUT">Sobre</h2>
                            <b><h3 class="section-subheading text-muted">MyHeroTraining</h3></b></br>
                        </div>
                        <div class="row text-center">
                            <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-flask"></i>
                        </span>
                                <h4 class="service-heading" translate="HEADER.PRINCIPAL.EXPERIENCE">Experiência</h4>
                                <p class="text-muted" translate="HEADER.PRINCIPAL.EXPERIENCET">Queremos que os nossos usuários tenham a melhor experiência na
                                    prática de exercícios físicos, de forma autônoma, prática e motivadora.</p>
                            </div>
                            <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-infinity"></i>
                        </span>
                                <h4 class="service-heading" translate="HEADER.PRINCIPAL.OurStrategy">Nossa Estratégia</h4>
                                <p class="text-muted" translate="HEADER.PRINCIPAL.OurStrategyT">Com a MyHeroTrainig qualquer pessoa pode começar a praticar
                                    exercícios
                                    físicos e evoluir nos treinos melhorando sua saúde.</p>
                            </div>
                            <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-microphone-alt"></i>
                        </span>
                                <h4 class="service-heading" translate="HEADER.LOGIN.PLACEHOLDER.MISSAO">Missão</h4>
                                <p class="text-muted" translate="HEADER.LOGIN.PLACEHOLDER.MISSAOTEXT">Nossa missão é contribuir para manutenção e melhora da saúde da população, facilitando o acesso a atividade física e incentivo da mesma.<br/><br/><br/><br/></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </b>
        <div id="como-aplicacao">
            <div id="comoUsar" class="como">
                <br>
                <b><h4 translate="HEADER.LOGIN.PLACEHOLDER.COMOUSAR">Como usar:</h4></b>
                <p translate="HEADER.LOGIN.PLACEHOLDER.FRASE1" ><b>1:</b>  Cadastrando-se na aplicação você terá disponível treinos que começam no nível 0 iniciante.
                </p>
                <p  translate="HEADER.LOGIN.PLACEHOLDER.FRASE2" ><b>2:</b> Inicie os treinos, conforme você os realiza, ganha pontuação e libera mais treinos. </p>
                <p translate="HEADER.LOGIN.PLACEHOLDER.FRASE3"><b>3:</b > Suba cada vez mais de nível e tenha acesso a treinos mais avançados.</p>
                </a></p>
                <a class="btn-link" href="#/Cadastro" translate="HEADER.LOGIN.PLACEHOLDER.CADASTRESEAQUI">Cadastre-se agora e já comece a treinar!</a>
                </b>
            </div>
            </div-->
        </div>
    </div>
    <footer class="container py-5" >
        <div class="row">
            <div class="col-12 col-md">
                <img src="./imagem/logo.png">
                <small class="d-block mb-3 text-muted"> 2020-2021
                </small>
            </div>
            <div class="col-6 col-md">
                <h5>Facebook</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="">Cool stuff</a></li>

                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Instagram</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="">Resource</a></li>

                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Contato</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="">Nome</a></li>

                </ul>
            </div>
        </div>

    </footer>
</div>