<style>
  .card {
    margin-top: 2%;
  }
  .btn {
    margin-top: 6px;
    margin-bottom: 6px;
    justify-content: center;
  }
  .card-img-top {
    width: auto;
    
  }
  #img{
      height: 60%;
  }
</style>
<div class="container">
  <div class="card-group" id="card">
    <div class="card" ng-repeat="exercicio in exercicios" 
      <img
        src="{{exercicio.caminho_gif}}"
        class="card-img-top"
        alt="..."
        width="100"
        id="img"
      />
      fasfdadfadsfdsfdsfasfsad
      <div class="card-body">
        <h5 class="card-title">PORRAAAAA</h5>
        <p class="card-text">{{exercicio.qntd}}</p>
      </div>
    </div>
  </div>

  <div class="">
    <button
      type="button"
      ng-model="model.valor"
      class="btn btn-secondary"
      ng-show="prox()"
      ng-click="proximo()"
    >
      Proximo
    </button>
    <button
      type="button"
      ng-model="model.valor"
      class="btn btn-secondary"
      ng-show="final()"
      ng-click="finalizar()"
    >
      Finalizar
    </button>
  </div>
</div>
